/* General Styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

/* Header Styling */
header {
    background-color: #B08968;
    padding: 10px 20px;
    margin-bottom: 0;
}

.header-container {
    display: flex;
    align-items: flex-end; /* Align items to the bottom */
    justify-content: space-between;
}

.site-logo {
    height: 100px; /* Adjust the logo size */
    width: auto;
    display: block;
    filter: invert(100%); /* Invert the color to change black to white */
}

header nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0 0 10px 0;
    align-items: flex-end; /* Align nav items to the bottom */
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px; /* Increase the font size */
}

header nav ul li a:hover {
    text-decoration: underline;
}



/* Main Content Styling */
main {
    padding: 20px;
    background-color: white;
    margin: 20px;
    border-radius: 5px;
}

/* Footer Styling */
footer {
    text-align: center;
    padding: 10px 0;
    background-color: #B08968;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Homepage Styling */

.home-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #EDE0D4;
    padding: 20px;
    margin: 20px auto;
    max-width: 1200px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.15);
}

.home-image, .home-text {
    flex: 1;
    padding: 20px;
}

.home-image img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    display: block;
}

.home-text {
    padding: 20px;
    margin: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; 
}

.home-heading {
    text-align: center; 
    width: 100%; 
    margin-bottom: 20px; 
}

.button-container {
    display: flex;
    justify-content: center;  
    width: 100%; 
    margin-top: 20px; 
    gap: 30px;
}

.btn {
    padding: 10px 20px;
    background-color: #7F5539;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    transition: background-color 0.3s;
    min-width: 120px;
    text-align: center; 
}

.btn:hover {
    background-color: #7F5539;
}

/* My Library page styling */

.library-hero-image {
    width: 100vw;
    height: 300px; 
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    position: relative;
}

.library-hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: center 82%; 
    display: block;
    transform: scale(1);
}



/* Table styling on My Library page  */

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

.add-book-form {
    margin-bottom: 20px;
}

.table-cell-content {
    display: flex;
    align-items: center; 
    justify-content: flex-start; 
    width: 100%;
}

.table-input {
    width: 50px; 
    text-align: right;
}


.table-total-pages {
    width: 40px; /* Fixed width to accommodate up to three digits */
    text-align: left;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}

.table-dropdown {
    width: 130px; 
}

.table-submit-button {
    margin-left: 10px; 
    white-space: nowrap; 
}

/* Style for the sortable table headers */

table th a {
    color: #333; 
    text-decoration: none; 
}

table th a:hover {
    color: #555; 
    text-decoration: underline; 
}

table th a.active {
    color: #B08968; 
    font-weight: bold; 
    text-decoration: none; 
}


/* 'All Books' page styling */

.hero-image {
    width: 100vw; 
    height: 200px; 
    margin-top: -40px; 
    padding: 0; 
    overflow: hidden;
    margin-left: calc(50% - 50vw); 
    margin-right: calc(50% - 50vw); 
}

.hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block; 
}

.sorting-options {
    margin-bottom: 20px;
}

.sorting-options a {
    text-decoration: none;
    color: #B08968;
    margin-right: 10px;
}

.sorting-options a.active {
    font-weight: bold;
    color: #B08968;
}

.book-list {
    list-style-type: none;
    padding: 0;
}

.book-item {
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.book-item h3 {
    margin: 0 0 5px;
}

.book-item p {
    margin: 5px 0;
}


