/* General Styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

/* Header Styling */
header {
    background-color: #B08968;
    color: white;
    padding: 10px 0;
    text-align: center;
    margin-bottom: 0;
}

header h1 {
    margin: 0;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

header nav ul li a:hover {
    text-decoration: underline;
}

/* Header clickable site title */

.site-title {
    color: white; 
    text-decoration: none; 
}


/* Main Content Styling */
main {
    padding: 20px;
    background-color: white;
    margin: 20px;
    border-radius: 5px;
}

/* Footer Styling */
footer {
    text-align: center;
    padding: 10px 0;
    background-color: #B08968;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Homepage Styling */

.home-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #EDE0D4;
    padding: 20px;
    margin: 20px auto;
    max-width: 1200px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.15);
}



.home-image, .home-text {
    flex: 1;
    padding: 20px;
}

.home-image img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    display: block;
}

.home-text {
    padding: 20px;
    margin: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.button-container {
    display: flex;
    flex-direction: row; 
    gap: 20px; 
    justify-content: center;  
    margin-top: 20px; 
}

.btn {
    padding: 10px 20px;
    background-color: #7F5539;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    transition: background-color 0.3s;
    min-width: 120px;
    flex-grow: 1;

}

.btn:hover {
    background-color: #7F5539;
}


/* Table styling on my books page  */

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

.add-book-form {
    margin-bottom: 20px;
}

.table-cell-content {
    display: flex;
    align-items: center; 
    justify-content: flex-start; 
    width: 100%;
}

.table-input {
    width: 50px; 
    text-align: right;
}


.table-total-pages {
    width: 40px; /* Fixed width to accommodate up to three digits */
    text-align: left;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}

.table-dropdown {
    width: 130px; 
}

.table-submit-button {
    margin-left: 10px; 
    white-space: nowrap; 
}

/* 'All Books' page styling */

.hero-image {
    width: 100vw; 
    height: 200px; 
    margin-top: -40px; 
    padding: 0; 
    overflow: hidden;
    margin-left: calc(50% - 50vw); 
    margin-right: calc(50% - 50vw); 
}

.hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block; 
}

.sorting-options {
    margin-bottom: 20px;
}

.sorting-options a {
    text-decoration: none;
    color: #007bff;
    margin-right: 10px;
}

.sorting-options a.active {
    font-weight: bold;
    color: #0056b3;
}

.book-list {
    list-style-type: none;
    padding: 0;
}

.book-item {
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.book-item h3 {
    margin: 0 0 5px;
}

.book-item p {
    margin: 5px 0;
}


