{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Book Tracker - Keep track of your reading habits and manage your digital library.">
    <meta name="keywords" content="books, reading, library, book tracker, book management">
    <meta name="author" content="Leander Ots">

    <!-- Title -->
    <title>{% block title %}Book Tracker{% endblock %}</title>

    <!--Favicon-->
    <link rel="apple-touch-icon" sizes="180x180" href="/static/media/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/media/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/media/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/media/favicon/site.webmanifest">

    <!-- Stylesheets-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>


<body>
<!-- Header -->
<header>
    <div class="header-container">
        <a href="{% url 'home' %}">
            <img src="{% static 'media/images/logotext_nobg.png' %}" alt="Book Tracker Logo" class="site-logo">
        </a>
        <nav>
            <div class="burger-menu" onclick="toggleMenu()">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
            <ul class="navbar-menu">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'book_list' %}">Books</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'user_book_list' %}">My Library</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'signup' %}">Sign Up</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</header>


    <!-- Main Content -->
    <main>
        {% block content %}{% endblock %}
    </main>

    <!-- Footer -->
    <footer>
        <p>&copy; 2024 Book Tracker by Leander Ots</p>
    </footer>

    <!-- JavaScript to Toggle the Navbar Menu -->
    <script>
    function toggleMenu() {
        var menu = document.querySelector('.navbar-menu');
        menu.classList.toggle('show');
    }
    </script>

</body>
</html>
