{% extends 'book_admin/base.html' %}

{% load static %}

{% block title %}Home - Book Tracker{% endblock %}

{% block content %}
<div class="home-container">
    <div class="home-image">
        <img src="{% static 'media/images/homepage.jpg' %}" alt="Pile of books in light brown shading"> <!-- Free license image from unsplash.com -->
    </div>
    <div class="home-text">
        {% if user.is_authenticated %}
            <h2>Welcome back, {{ user.username }}!</h2>
            <p>We're glad to have you back. Continue tracking your reading progress or <a href="{% url 'book_list' %}">explore more books</a>.</p>
            <p>Check out your <a href="{% url 'user_book_list' %}">personal library</a> to see your current reading list and update your progress.</p>
        {% else %}
            <h2>Welcome to Book Tracker</h2>
            <p>Welcome to Book Tracker! This is your one-stop shop to keep track of your reading habits. Upon creating an account with us, you will be able to add, update and remove books from your digital library, and keep track of which page you got to. Interested? Sign up below, or if already a customer, Login!</p>
            <div class="button-container">
                <a href="{% url 'login' %}" class="btn">Login</a>
                <a href="{% url 'signup' %}" class="btn">Sign Up</a>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
